.perfil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f7f7f7;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.perfil-box {
  background: white;
  border-radius: 10px;
  padding: 2rem;
  width: 400px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.1);
}

.perfil-box h2 {
  margin-bottom: 1.5rem;
  color: #1E2024;
}

form label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
  color: #333;
}

form input {
  width: 100%;
  padding: 0.5rem 0.8rem;
  margin-bottom: 1.2rem;
  border-radius: 5px;
  border: 1.5px solid #ccc;
  font-size: 1rem;
  transition: border-color 0.3s;
}

form input:focus {
  border-color: #00a878;
  outline: none;
}

.senha-container {
  display: flex;
  gap: 1rem;
}

.senha-container input {
  flex: 1;
  cursor: not-allowed;
  background-color: #eee;
  color: #555;
}

.btn-alterar-senha {
  background-color: #858B99;
  border: none;
  color: white;
  height: 40px;
  font-weight: 700;
  padding: 0 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-alterar-senha:hover {
  background-color: #008e61;
}

.btn-salvar {
  width: 100%;
  padding: 0.7rem 0;
  background-color: #1E2024;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-salvar:hover {
  background-color: #00332b;
}


.modal-senha-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-senha {
  background: white;
  border-radius: 10px;
  padding: 2rem;
  width: 320px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.modal-senha h3 {
  margin-bottom: 1rem;
  color: #004d40;
  text-align: center;
}

.modal-senha label {
  font-weight: 600;
  margin-top: 1rem;
}

.modal-buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btn-cancelar {
  background: #ccc;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.btn-cancelar:hover {
  background: #aaa;
}


@media (max-width: 480px) {
  .perfil-box {
    width: 100%;
    padding: 1.5rem;
  }

  .modal-senha {
    width: 90%;
  }
}
.sub{
  transform: translateY(-10px);
  width: 100%
}