.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #0f1012;
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: white;
}

/* Topo */
.sidebar-header {
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 10px;
  margin-bottom: 40px; /* dá espaço entre header e menu */
}

.linhaMenu {
  width: 100%;
}
/* Menu */
.sidebar-menu {
  flex: 1; /* ocupa o meio da sidebar */
  display: flex;
  flex-direction: column;
  gap: 10px; /* espaço entre botões */
}

/* Usuário no rodapé */
.sidebar-cliente {
  margin-top: auto; /* empurra usuário para baixo */
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Topo */
.sidebar-logo {
  width: 32px;
  height: 32px;
}

.sidebar-title h1 {
  font-size: 18px;
  margin: 0;
}

.sidebar-title span {
  font-size: 12px;
  color: #00e389;
}

.menu-btn {
  width: 100%;
  background-color: #00e389;
  color: black;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  text-align: left;
}

.menu-btn:hover {
  background-color: #00c978;
}

/* Usuário */
.sidebar-cliente {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cliente-avatar {
  width: 36px;
  height: 36px;
  background-color: #00e389;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
}

.cliente-info {
  display: flex;
  flex-direction: column;
}

.cliente-name {
  margin: 0;
  font-size: 14px;
}

.cliente-email {
  margin: 0;
  font-size: 12px;
  color: #a3a3a3;
}
.menu-btn {
  display: block;
  width: 100%;
  background-color: #1a1b1f;
  color: white;
  font-weight: 500;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 8px;
  text-decoration: none;
}

.menu-btn:hover {
  background-color: #2a2c31;
}

.menu-btn.active {
  background-color: #00e389;
  color: black;
}
